h3, h1 {
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: center;
}

.title-demo {
    font-size: 60px;
    margin-bottom: 0;
}

.container-rating {
    position: relative;
    width: 70vw;
    margin: 3em auto 4em;
    padding: 1em 0;
}

.container-rating:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 1px;
    background-color: grey;
}